.chart-box{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 4px 12px rgba(0,0,0,.08);

margin-top:25px;

}

.chart-box h2{

margin-bottom:20px;

font-size:22px;

}

.dashboard-card{
    background:#fff;
    border-radius:14px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.25s;
}

.dashboard-card:hover{
    transform:translateY(-4px);
}

.dashboard-card h4{
    margin-bottom:10px;
    color:#666;
}

.dashboard-card h2{
    color:#2563eb;
}

table{
    width:100%;
}

th{
    background:#2563eb;
    color:white;
    padding:12px;
}

td{
    padding:10px;
    border-bottom:1px solid #eee;
}

tr:hover{
    background:#f5f7fa;
}