.navbar{

    height:80px;

    background:#ffffff;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    box-shadow:0 2px 8px rgba(0,0,0,.08);

}

.navbar-left h2{

    color:#2563eb;

    font-size:24px;

}

.navbar-left p{

    color:#6b7280;

    font-size:14px;

    margin-top:4px;

}

.navbar-right{

    display:flex;

    align-items:center;

    gap:15px;

}

.search-box{

    width:250px;

    padding:10px 14px;

    border:1px solid #d1d5db;

    border-radius:8px;

    outline:none;

    font-size:14px;

}

.search-box:focus{

    border-color:#2563eb;

}

.notification-btn{

    width:45px;

    height:45px;

    border:none;

    border-radius:50%;

    background:#eff6ff;

    color:#2563eb;

    font-size:22px;

    cursor:pointer;

}

.notification-btn:hover{

    background:#dbeafe;

}

.admin-profile{

    background:#2563eb;

    color:white;

    padding:10px 18px;

    border-radius:20px;

    font-weight:600;

}

.logout-btn{

    border:none;

    background:#ef4444;

    color:white;

    padding:10px 18px;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;

}

.logout-btn:hover{

    background:#dc2626;

}