@import "tailwindcss";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Inter,sans-serif;
    background:#F8FAFC;
    color:#0F172A;
}

html{
    scroll-behavior:smooth;
}

a{
    text-decoration:none;
}

button{
    cursor:pointer;
}